<%= stylesheet_link_tag 'style.css' %>
<% @users.each do |user| %>
<div class="user-index">
<div class='profile'><img src="<%= user.photo %>" alt="User Photo"/>
 </div>
<div class='name-postnumber'>
<div> <%= link_to user.name, user_path(user) %>
</div>
<p class='num-post'> number of posts: <%= user.posts.count %></p>       
</div>

</div>
<% end %>