.user-index,
.bio {
  display: grid;
  background-color: pink;
  grid-template-columns: 40% 50%;
  font-size: 20px;
  margin: 2% 5%;
  padding: 1%;
  align-items: center;
}

.num-post {
  margin-top: 2.5%;
}

.name-postnumber {
  display: flex;
  justify-content: space-around;
}

img {
  width: 80px;
  height: 100px;
}

.bio {
  display: flex;
}

.post-index {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  justify-content: flex-start;
}

.counter {
  display: flex;
  padding: 0;
  justify-content: left;
}

.post-inner {
  background-color: pink;
  margin: 1% 5%;
  padding: 1%;
}

button {
  margin: 1% auto;
  background-color: rgb(105, 169, 196);
  width: 10%;
}

.show-counter {
  margin: 0;
}

.show-post {
  background-color: pink;
}

section {
  font-size: 20px;
}

.comment-post {
  margin-top: 2%;
  background-color: gray;
}

.like-button {
  margin-top: 0;
}

.comment-button {
  margin-left: 85%;
  margin-top: 0;
  background-color: whitesmoke;
}

.comment-button a {
  text-decoration: none;
}

.comments {
  background-color: gray;
}

.pagination {
  align-items: center;
}

.pagination button {
  background-color: rgba(0, 0, 255, 0.491);
  display: flex;
  margin: 0 auto;
  width: 15%;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* grabs all button */
.actions input[type="submit"] {
  width: 100%;
  color: green;
}

.post {
  display: flex;
}